<Location /svn>
  SSLRequireSSL

  DAV svn
  SVNParentPath {{ subversion_parent_path }}

  AuthType Basic
  AuthName "{{ subversion_auth_name }}"
  AuthUserFile {{ subversion_auth_user_file }}
  Require valid-user
</Location>
