check process redmine with pidfile "{{ redmine_unicorn_pidfile }}"
  start program = "/bin/su - {{ app_user_username }} -c /opt/monit/redmine/start_unicorn.sh"
  stop  program = "/bin/su - {{ app_user_username }} -c /opt/monit/redmine/stop_unicorn.sh"
